@import "./variables.css";
@import "./hero.css";
@import "./product-card.css";
@import "./topbar.css";
@import "./category.css";
@import "./products.css";
@import "./brands.css";
@import "./deal.css";
@import "./banner.css";
@import "./footer.css";
@import "./blog.css";
@import "./header.css";
@import "./search.css";
@import "./category-sidebar.css";
@import "./login-dropdown.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.star-rating {
    color: #ffc107;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.container {
    max-width: 1410px !important;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    margin-bottom: 92px;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 23px;
    font-weight: bold;
    font-family: 'Honor; src:url(https://efix.com.np/assets/fonts/HONORSansBrand-Regular.ttf)';
}

.section-title.border-b {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
}

.swiper-custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.swiper-custom-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    transition: all 300ms ease;
}

.swiper-custom-pagination .swiper-pagination-bullet-active {
    width: 40px;
    border-radius: 10px;
    background-color: #0068cb;
}

.bg-gray {
    background-color: #f4f4f4;
}

.feature-bar__icon {
    font-size: 50px;
}

.product-badge {
    font-size: 12px;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    background-color: #dd2831;
    padding: 5px 15px;
    border-radius: 0px 5px 5px 5px;
    z-index: 2;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {

    .section {
        margin-bottom: 70px;
    }
}

@media (max-width: 992px) {
    .section {
        margin-bottom: 50px;
    }
    
    .section-title {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .section {
        margin-bottom: 40px;
    }
    
    .section-title {
        font-size: 18px;
        margin-bottom: 18px;
    }
    
    .feature-bar__icon {
        font-size: 40px;
    }
}
