@import "./variables.css";
@import "./product-card.css";
@import "./topbar.css";
@import "./category.css";
@import "./products.css";
@import "./brands.css";
@import "./deal.css";
@import "./banner.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.star-rating {
    color: #ffc107;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.container {
    max-width: 1410px !important;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 24px;
    line-height: 1;
}

.swiper-custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.swiper-custom-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    transition: all 300ms ease;
}

.swiper-custom-pagination .swiper-pagination-bullet-active {
    width: 40px;
    border-radius: 10px;
    background-color: #0068cb;
}
