@import "./variables.css";
@import "./hero.css";
@import "./product-card.css";
@import "./topbar.css";
@import "./category.css";
@import "./products.css";
@import "./brands.css";
@import "./deal.css";
@import "./banner.css";
@import "./footer.css";
@import "./blog.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.star-rating {
    color: #ffc107;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.container {
    max-width: 1410px !important;
}

.section {
    padding: 60px 0;
}

a {
    text-decoration: none;
}

.section-title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 23px;
    font-weight: bold;
}

.section-title.border-b {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
}

.swiper-custom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.swiper-custom-pagination .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    transition: all 300ms ease;
}

.swiper-custom-pagination .swiper-pagination-bullet-active {
    width: 40px;
    border-radius: 10px;
    background-color: #0068cb;
}

.bg-gray {
    background-color: #f4f4f4;
}

.feature-bar__icon {
    font-size: 50px;
}

.product-badge {
    font-size: 12px;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    background-color: #dd2831;
    padding: 5px 15px;
    border-radius: 0px 5px 5px 5px;
    z-index: 2;
}
