.banner {
    background-image: url(https://demo.theme-sky.com/ecomall/wp-content/uploads/2023/12/banner-12.jpg);
    background-size: cover;
    background-position: center center;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__description {
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.banner__title {
    margin-bottom: 30px;
    font-size: 52px;
    font-weight: 900;
    color: #fff;
}

.banner__button {
    font-size: 14px;
    padding: 17px 30px;
    cursor: pointer;
    border: 1px solid #0068c8;
    background-color: #0068c8;
    font-weight: 800;
    border-radius: 6px;
    color: white;
}

@media (max-width: 1400px) {
    .banner__title {
        font-size: 45px;
    }
}

@media (max-width: 1200px) {
    .banner {
        height: 350px;
    }

    .banner__description {
        font-size: 15px;
    }

    .banner__title {
        font-size: 40px;
    }

    .banner__button {
        font-size: 12px;
        padding: 13px 25px;
    }
}

@media (max-width: 992px) {
    .banner__description {
        font-size: 14px;
    }

    .banner {
        height: 300px;
    }

    .banner__title {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .banner {
        background-position: center left;
    }

    .banner {
        height: 270px;
    }

    .banner__title {
        font-size: 25px;
        margin-bottom: 18px;
    }
}
