.category-swiper
{
    overflow: hidden;
}

.category-swiper .swiper-slide {
    gap: 16px;
}

.category-swiper .img-container {
    height: 190px;
    /* width: 160px; */
    background-color: #E9F2F9;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.category-swiper .img-container img {
    max-width: 70%;
    max-height: 75%;
}

.category-swiper a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.category-swiper .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
}

.category-swiper .overlay i {
    font-size: 24px;
}

.category-swiper a:hover .overlay {
    opacity: 1;
}