.deal__body {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.deal__best-deal {
    flex: 1;
    order: 1;
    max-width: 100%;
    background-image: url(https://demo.theme-sky.com/ecomall/wp-content/uploads/2023/12/banner-deals.jpg);
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 8px;
}

.deal__product {
    background-color: white;
    border: 8px;
    flex-basis: 26%;
}

.deal__product-1 {
    order: 0;
}

.deal__product-2 {
    order: 2;
}

.deal__best-deal {
    color: white;
}

.deal__best-deal .subtitle {
    color: #fcc904;
    font-size: 0.93rem;
    text-transform: uppercase;
}

.deal__best-deal .title {
    font-size: 60px;
    font-weight: 800;
}

.countdown {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.time-pill {
    background: #0068c8;
    color: #fff;
    border-radius: 12px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.time-pill .n {
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
}
.time-pill .l {
    font-size: 0.75rem;
    opacity: 0.85;
}

@media screen and (max-width: 1400px) {
    .deal__best-deal .title {
        font-size: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .deal__best-deal .title {
        font-size: 40px;
    }

    .deal__product {
        flex-basis: calc(33.33% - 23px);
    }

    .deal__best-deal {
        padding: 30px;
    }
}

@media screen and (max-width: 992px) {
    .deal__best-deal .title {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .deal__body {
        gap: 10px;
    }

    .deal__best-deal {
        order: -1;
        flex: none;
        width: 100%;
        padding: 50px 30px;
    }

    .deal__product {
        flex-basis: calc(50% - 5px);
    }
}
